{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'Login/css/registro.css' %}">
        <title>Homebanking</title>
    </head>
    <body>
        <main>
            <section class="inicio">
                <h2 class="logo">itbank</h2>
                <h2>¡Hola!</h2>
                <h4>Gracias por elegir nuestro homebanking :)</h4>
                <a href=""><h6>Conoce mas sobre nuestro homebanking</h6></a>
                <div class="background">
                    <img class="montañas" src="{% static 'Login/vectores/montañas.svg' %}" alt="gráfico montañas">
                </div>
            </section>
    <div class="form-container2 asociate">
        <h2 class="logo2">itbank</h2>
        <section class="form">
            <h2>Asociate aqui</h2>
            <form action="" class="form-registro">
                <input type="text" name="name" class="name" placeholder="Ingresa tu Nombre" required="">
                <input type="text" name="lastName" class="lastName" placeholder="Ingresa tu Apellido" required="">
                <input type="text" name="dni" class="dni" placeholder="Ingresa tu DNI" required="">
                <input type="text" name="user" class="user" placeholder="Ingresa tu usuario" required="">
                <input type="password" name="password" class="password" placeholder="Ingresa tu clave" required="">
                <input type="text" name="passwordRepeat" class="passwordRepeat" placeholder="Ingresa tu clave nuevamente" required="">
                <div class="container-btn">
                    <input type="button" value="Enviar" class="btn-registrarse">
                </div>
                <div class="ayuda">
                    <h4>¿Ya sos cliente?</h4>
                    <h5>Ingresa <a href="{% url 'login' %}" id="inicia">aqui</a></h5>
                </div>
            </form>
        </section>
    </div>
</main>
</body>
</html>