{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Prestamos/css/prestamos.css' %}">
    <title>Prestamos</title>
</head>
<body>
    <div class="form-containerp">
    <h2>Prestamos</h2>
    <form action="" method="POST" class="post-form formp">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form></div>
</body>
</html>