@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Bold.ttf) format("truetype");
    font-weight: bold;
  } 

@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Medium) format("truetype");
    font-weight: medium;
  } 

*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Brandon', sans-serif;
    font-weight: bold;
}
html{
    overflow: hidden;
    height: 100%;
}
body{
    height: 100%;
}
/* MAIN */
main{
    display: flex;
    height: 100%;
}
.inicio img{
    margin-top: 15px;
    margin-left: 20px;
    width: 20%;
}
.inicio{
    width: 65%;
    height: 100%;
}
.inicio h2 {
    margin: 20% 0% 5% 10%;
    font-size: 40px;
    color: rgb(0, 4, 75);
}
.inicio h4 {
    margin: 0% 0% 2% 10%;
    font-size: 22px;
    color: rgb(0, 4, 75)
}
.inicio a{
    color: #A5A5AA;
}
.inicio h6 {
    margin-left: 10%;
    color: #A5A5AA;
    font-size: 14px;
}

/* FORMULARIO */
.form-container{
    height: 100%;
    width: 35%;
}
.form{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    height: 100%;
    box-shadow: 1px -19px 20px black;
}
.form h2{
    margin-bottom: 5%;
}
.form input[type = "text"], .form input[type = "password"] {
    width: 70%;
    height: 35px;
    border-radius: 15px;
    margin-bottom:5%;
    border-style: none;
    background-color: #ECEFFB;
    padding: 0 15px;
}
.form input[type = "text"]:first-child{
    margin-top: 10px;
}
.check{
    margin-top: 10px;
    margin-bottom: 30px;
}
.check input{
    position: relative;
    top: 4px;
    height: 18px;
    width: 18px;
}
label{
    margin-left: 5px;
    color: rgb(0, 4, 75);  
}
button{
    padding: 5px 15px;
    width: 125px;
    border-radius: 15px;
    border-style: none;
    background-color: #ECEFFB;
    color: rgb(0, 4, 75);
    font-weight: bold;
}
.ayuda {
    margin-top: 30px;
}
.ayuda a{
    color: rgb(0, 4, 75);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
.ayuda h4{
    font-weight: lighter;
    margin-top: 30px;
    color: rgb(0, 4, 75);
}
.ayuda h5{
    font-weight: lighter;
}
.ayuda .olvidar{
    text-decoration: underline;
}
.ayuda a{
    font-weight: 100;
    text-decoration: none;
}
footer{
    background-color: aqua;
}
@media screen and (max-width:750px){
    .info {
        display: none;
    }
}