@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Black.ttf) format("truetype");
    font-weight: bolder;
  } 
  
@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Bold.ttf) format("truetype");
    font-weight: bold;
  } 

@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Medium.tff) format("truetype");
    font-weight: medium;
  } 

*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Brandon', sans-serif;
    font-weight: bold;
}
html{
    overflow: hidden;
    height: 100%;
}
body{
    height: 100%;
}
/* MAIN */
main{
    display: flex;
    height: 100%;
}
.inicio img{
    margin-top: 15px;
    margin-left: 20px;
    width: 20%;
}
.inicio{
    background: linear-gradient(#fff 50%,#bde0f0);
    width: 65%;
    height: 100%;
    
}
.inicio h2 {
    margin: 6% 0% 2% 10%;
    font-size: 45px;
    color: rgb(0, 4, 75);
    font-weight: 500;

}
.inicio .logo{
    margin-top: 5%;
    color: #050DCA;
}
.inicio h4 {
    margin: 0% 5% 2% 10%;
    font-size: 29px;
    color: rgb(0, 4, 75)
}
.inicio a{
    color: #8686a8;
}
.inicio h6 {
    margin-left: 10%;
    color: #8686a8;
    font-size: 18px;
}

/* FORMULARIO */
.asociate, .recupera{
    display: none;
}
.asociate .form{
    padding-top: 5%;
}
.form-container{
    height: 100%;
    width: 35%;
}
.form-container .logo2 {
    display: none;
}
.form{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    height: 100%;
    box-shadow: 1px -19px 20px black;
    margin-top: -15px;
}
.form h2{
    margin-bottom: 5%;
    color: #0e0e52;
    font-size: 30px;
}
.form input {
    font-size: 20px;
    text-align: center;
}
.form input::placeholder{
    color: #bdc2d0;
}
.form input[type = "text"], .form input[type = "password"] {
    width: 70%;
    height: 35px;
    border-radius: 15px;
    margin-bottom:5%;
    border-style: none;
    background-color: #ECEFFB;
    padding: 0 15px;
}
.form input[type = "text"]:first-child{
    margin-top: 10px;
}
.check{
    margin-top: 10px;
    margin-bottom: 30px;
}
.check input{
    position: relative;
    top: 4px;
    height: 18px;
    width: 18px;
}
.form label{
    margin-left: 5px;
    color: rgb(0, 4, 75);  
}
form button{
    padding: 5px 15px;
    width: 125px;
    border-radius: 15px;
    border-style: none;
    background-color: #ECEFFB;
    color: rgb(0, 4, 75);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
form button:hover{
    box-sizing: 1px 1px 3px #000;
}
form button a {
    text-decoration: none;
    color:  #0e0e52 ;
}

.ayuda {
    margin-top: 30px;
}
.ayuda a{
    color: rgb(0, 4, 75);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
.ayuda h4{
    font-weight: lighter;
    margin-top: 30px;
    color: rgb(0, 4, 75);
    font-size: 18px;
}
.ayuda h5{
    font-weight: lighter;
    font-size: 17px;
    color: #0e0e52;
}
.ayuda .olvidar{
    text-decoration: underline;
}
.ayuda a{
    font-weight: 100;
    font-size: 17px;
}
footer{
    background-color: aqua;
}

/* BACKGROUND */
.background{
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 65%;
}

.background .montañas{
    position: absolute;
    bottom: 0px;
    height: 85%;
    width: 50%;
}

@media screen and (min-width:490px) and (max-width:582px){
    .inicio {
        width: 50%;
    }
    .form-container{
        width: 50%;

    }
    .background{
        margin-top: 1%;
        width: 100%;
        margin-left: -78px;
    }
    .form input {
        font-size: 16px;
    }
    .info {
        display: none;
    }
}
@media screen and (min-width:100px) and (max-width:489px){
    .inicio{
        display: none;
    }
    .form-container {
        
        width: 100%;
        text-align: center;
        background: linear-gradient(180deg, rgba(5, 13, 202, 0) 0%, rgba(5, 13, 202, 0.05) 53.96%, rgba(120, 192, 224, 0.2) 100%);
        mix-blend-mode: normal;
        
    }
    .form-container .logo2{
        display: flex;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 100%;
        height: 50px;
        color: #050DCA;
        text-align: center;
        justify-content: center;
        font-size: 50px;
    }
    .form {
        width: 100%;
        box-shadow: none;
    }
    .form h2 {
        display: none;
    }
    .form input::placeholder{
        color: #bdc2d0;
        font-size: 17px;
    }
    .form button {
        margin-top: 15px;
        width: auto;
        padding: 0;
        padding: 6px 43px;
        background: rgba(5, 13, 202, 0.1);
        margin-top: 5%;
    }
    .check {
        margin-top: 2.5%;
    }
    .asociate .check, .asociate .ayuda h4{
        margin-top: 0;
    }
    .asociate .ayuda{
        margin-top: 2.5%;
    }
    .asociate .check{
        margin-bottom: 10px;
    }
}
