@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Black.ttf) format("truetype");
    font-weight: bolder;
  } 

@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Bold.ttf) format("truetype");
    font-weight: bold;
  } 

@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Medium.ttf) format("truetype");
    font-weight: medium;
  } 

* {               /*puse un "asterisco" en vez de "body" y así tomó la fuente en todo el doc ------*/
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Brandon', sans-serif;
    font-weight: bold;
}

.logo-container{
    border-right: solid 2px #777777;
    height: 100px;
    padding-top: 50px;
    min-width: 176px;
}

.logo{
    font-size: 50px;
    font-weight: 500;
    padding-left: .7em;
    color: #050DCA;
    position: fixed;
}

.bienvenida{
    padding-left: 6% !important;
    font-size: 30px;
    font-weight: bold;
    color: #0E0E52;
    margin-top: 56px !important;
}

/*Aplicando Flexbox a la barra de iconos de arriba, para separa la barra de navegación de los otros íconos*/
.fa-magnifying-glass{
    position: relative;
    left: 50px;
}

.buscar input{
    padding: 0 20px 0 35px;
    font-size: 18px;
    color: #000;
    background-color: #0035541A;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.buscar{
    margin-right: 3%;
}

.buscar-mobile{
    display: none;
}

.bienvenida-mobile{
    display: none;
}

.barra_iconos{
    display: flex;
    justify-content: flex-end;
    margin-top: 56px !important;
}

.iconos_nav{
    padding-right: 20px;
    padding-left: 10px;
    color: #0E0E52;
}

.bandera{
    width: 40px;
}
.bandera option{
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-left:30px;
}
select.bandera option.ES{
    background-image: url(/imagenes/english.jpeg);
}

.movimientos , .balance_contenido , .tarjetas{
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(0, 166, 251, 0) 41.98%, rgba(42, 156, 238, 0.2) 100%);
    mix-blend-mode: normal;
    border-radius: 70px;
}


/*.sub-atajos{
    width: 100%;
}
.sub-atajo{
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(0, 166, 251, 0) 41.98%, rgba(42, 156, 238, 0.2) 100%);
    mix-blend-mode: normal;
    border-radius: 70px;
    display: inline-block;
    width: 23%;
    margin-right: 1%;
}
.sub-atajo p{
    font-size: 12px;
    text-align: center;
}
.atajos {
    height: 100px;
    mix-blend-mode: normal;
    border-radius: 70px;
}*/
.mercado{
    height: 330px;
    width: 85%;
    margin-bottom: 7em;
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(42, 156, 238, 0.2) 100%, rgba(68, 157, 209, 0) 30%);
    mix-blend-mode: normal;
    border-radius: 70px;
}

.mercado img{
    width: 100%;
    height: 100%;
}

.mercado h4{
    padding-top: 1em;
    padding-left: 2em;
}

.h1 {
    font-size: 36px;
    line-height: 51px;
    color: #051923;
}

.tarjetas{
    width: 90%;
    padding-left: 3em;
    margin-top: 5em;
    height: 400px;
}

.tarjetas img{
    width: 28em;
    height: 15em;
    margin-top: 35px;
    padding-left: 3em;
}

.balance{
    padding-left: 4em !important;
    padding-top: 4em;
}

.balance_contenido{
    width: 90% !important;
    padding-left: 2em;
}

.balance_item{
    color: #150578;
    padding-left: 3%;
}

.balance h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 69px;
    color: #050DCA;
}

.primera-sec h2 {
    font-weight: bold;
    font-size: 23px;
    line-height: 46px;
    color: #150578;
}

.primera-sec h4{
    font-weight: bold;
    font-size: 24px;
    color: #150578;
}

/* ultimos movimientos*/

.sec-movimientos{
    padding-top: 4em;
}

.contenedor_movimientos{
    padding-top: 75px;
}

.movimientos{
    height: 600px;
    width: 85%;
    padding-right: 3em;
}

.movimientos h4{
    padding-left: 2em;
    padding-bottom: 1.5em;
}

.lista-movimientos{
    list-style: none;
}

.lista-movimientos-icono{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #E4E6F1;
    border-radius: 50%;
}
.lista-movimientos-info{
    display: inline-block;
    position: absolute;
    width: 225px;
    margin-left: 50px;
    margin-top: .5%;
}
.lista-movimientos-icono i{
    position: relative;
    top: 8px;
    left: 6px;
    font-size: 24px;
    color:#150578; 
}
.movimiento{
    height: 60px;
    margin-bottom: 5%;
    margin-left: 5%;
}
.movimiento h6,.movimiento p,.movimiento h5{
    display: inline-block;
    margin-bottom: 0; 
}
.lista-movimientos-info h6{
    margin-right: 65%;
    font-weight: bold;
    margin-top: 5px;
    color:#150578;
}
.lista-movimientos-info p{
    font-weight: 100;
    font-size: 12px;
    opacity: .8;
    position: relative;
    bottom: 8px;
    color:#150578;
}
.lista-movimientos-info h5{
    position: relative;
    bottom: 14px;
    float: right;
    right: 10px;
}
.positivo{
    color: green;
}
.negativo{
    color: red;
}

/*estilos para el menú*/
.menu{
    position: fixed;
    padding-left: 1%;
}
.contenedor_menu {
    padding-top: 60px;  
    border-right: solid 2px #777777; 
    min-width: 176px;
}

.contenedor_menu .menu li{
    list-style: none;
    padding-bottom: 40px;
    padding-left: 1.5em;
}

.contenedor_menu .menu li i{
    color: #777777;
}

.contenedor_menu .menu li a{
    padding-left: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #777777;
}

.contenedor_menu .iconos_menu :hover{
    color: #050DCA;
}

.redes{
    position: fixed;
    bottom: 60px;
    left: 2.75%;
    width: 176px;
}
.redes i{
    padding-right: 20%;
    font-size: 22px;
    color: #777777;
}
.redes i:hover{
    color:#050DCA ;
}

.menu-mobile{
    display: none;
}

/* FOOTER */

footer{
    background: linear-gradient(95.71deg, rgba(68, 157, 209, 0.2) 75.57%, rgba(68, 157, 209, 0.3) 93.75%), linear-gradient(264.29deg, rgba(120, 192, 224, 0.2) 40.12%, rgba(120, 192, 224, 0.3) 58.3%);
    mix-blend-mode: normal;
}
.pie{
    padding: 0 !important;
}
.pie p, .pie div{
    padding-top: 1.2%;
}
.pie p{
    display: inline-block; 
}
.pie-1{
    text-align: center;
}
.pie-2{
    padding-left: 4%;
}
.footer-buttoms{
    display: inline-block;
    padding-left: 13%;
}
.footer-buttoms button{
    border-radius: 15px;
    width: 120%;
    color: #0E0E52;
    background-color: rgba(68, 157, 209, 0.3);
    border-style: none;
}

.atajos{
    display: none;
}

.historico-mobile{
    display: none;
}

@media screen and (min-width: 577px) and (max-width: 1100px){
    .principal{
        display: flex !important;
        flex-wrap: nowrap !important;
    }
}

@media (max-width: 576px) {
    .principal{
        color: #FFFFFF;
        height: 7em;
        background: rgba(5, 13, 202, 0.75);
        clip-path: ellipse(61% 92% at 49% 0%);
    }

    .logo-container{
        display: none;
    }

    .bienvenida{
        display: none;
    }

    .bienvenida-mobile{
        display: inline;
        text-align: left;
        margin-left: 0;
        padding-right: 3em;
        padding-left: 1em;
        font-size: 21px; 
    }

    .barra_iconos{
        margin-top: 32px !important;
        justify-content: flex-start;
    }

    .iconos_nav{
        color: #FFFFFF;
        padding-right: 10px;
        padding-left: 0;
        padding-top: 0;
    }

    .lupita{
        width: 6em;
        color: #051923;
    }

    .buscar{
        display: none;
    }

    .bandera{
        display: none;
    }

    .contenedor_menu{
        display: none;
    }

    .buscar-mobile{
        display: inline-block;
        padding-top: 2em;
        padding-left: 2em;
    }

    .buscar-mobile input{
        width: 85%;
        padding: 0 20px 0 35px;
        font-size: 18px;
        color: #000;
        background-color: #0035541A;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
    }
    .balance{
        margin-left: 0;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
        align-items: center !important;
        margin-left: 2% !important;
        margin-right: 1% !important;
    }

    .balance_contenido{
        padding:0 !important;
        padding-bottom: 0 !important;
        width: 100%;
        align-content: center;
        background: #449DD11A;
        overflow-x: visible;
    }

    .balance_contenido img{
        display: none;
    }

    .balance_item{
        padding-left: 0;
    }
    .primera-sec{
        width: 100%;
    }



    .tarjetas{
        background: #FFFFFF;
        width: 100%;
        padding-left: 0;
        margin-top: 5em;
        height: 250px;
    }

    .tarjetas img{
        width: 15em;
        height: 9em;
        margin-top: 16px;
        padding-left: 0;
    }

    .sec-movimientos{
        padding-top: 1em;
    }

    .movimientos{
        height: 550px;
        width: 100%;
        padding-right: 0;
        background: #FFFFFF;
    }

    .primera-sec h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 46px;
        color: #150578;
    }

    .mercado{
        display: none;
    }

    footer{
        display: none;
    }

    .menu-mobile{
        height: 75px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #050DCABF 75%;
    }

    .menu-mobile a{
        color: #FFFFFF;
        font-size: 27px;
    }

    .atajos{
        display: inline;
        margin-top: 3em;
    }

    .historico{
        display: none;
    }

}