@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Black.ttf) format("truetype");
    font-weight: 900;
  } 

@font-face {
    font-family: "Brandon";
    src: url(fonts/BrandonGrotesque-Bold.ttf) format("truetype");
    font-weight: bold;
  } 

* { /*puse un "asterisco" en vez de "body" y así tomó la fuente en todo el doc ------*/
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Brandon', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.primera-sec h2 {
    font-size: 23px;
    line-height: 46px;
    color: #150578;
}

.primera-sec h4{
    font-size: 24px;
    color: #150578;
    padding-left: 2em;
}


/*--------- logo, bienvenida e íconos ------------*/
.logo-container{
    height: 100px;
    padding-top: 35px;
    min-width: 176px;
/*    border-right: solid 2px #777777; */
}

.logo-container .logo {
    font-size: 55px;
    font-weight: 900;
    color: #050DCA;
    position: fixed;
    padding-left: 3px;
}

.bienvenida{
    padding-left: 6% !important;
    font-size: 1.5rem;
    color: #0E0E52;
    margin-top: 56px !important;
}
.bienvenida-mobile{
    display: none;
}

/*Aplicando Flexbox a la barra de iconos de arriba, para separa la barra de navegación de los otros íconos*/

.buscar input{
    padding: 0 20px 0 35px;
    font-size: 18px;
    color: #000;
    background-color: #0035541A;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.buscar{
    margin-right: 2em;
}
.buscar i {
    margin: 0 50%;
    margin-left: 54%;
    margin-top: 7px;
}
.buscar-mobile{
    display: none;
}
.barra_iconos{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 56px !important;
    justify-content: right;
}
.iconos_nav{
    color: #000;
}

/*
.iconos_nav{
    padding-right: 20px;
    padding-left: 10px;
    color: #0E0E52;
    width: 40px;
}
option{
    background-repeat:no-repeat;
    width: 80%;
}

.bandera option div {
    width: 100%;
    height: 100%;
}
.bandera option .es {
background-image: url(../imagenes/esp.jpg);
background-size: 100% 100%;
}


select.bandera option.ES{
    background-image: url(/imagenes/english.jpeg);
}*/



/*         ESTILOS DEL SELECT             */

a {
	text-decoration: none;
}

.select {
	width: 35px;
    height: 27px;
    margin: -9px 50px 0 5px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 6px;
    border: 2px solid transparent;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	transition: .2s ease all;
	position: relative;
	z-index: 200;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: relative;
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	width: 157px;
    display: none;
}

.opciones.active {
	display:flex;
	animation: fadeIn .3s forwards;
    margin-left: 5px;
    margin-top: -32px;
    justify-content: flex-end;
}

@keyframes fadeIn {
	from {
		transform: translateX(0) scale(.5);
	}
	to {
		transform: translateX(-200) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 2px 1px;
}

.contenido-opcion img {
	width: 100%;
	height: 27px;
    border-radius: 6px;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}
.opciones .opcion {
    width: 25%;
}

.iconos{
    display: flex;
    flex-wrap: nowrap;
    width: 22%;
    margin-top: 7px;
}
.iconos i {
    margin: 0px 10px;
}
.iconos i:last-child{
    margin: 0px;
}
.salida {
    margin-top: -2px;
}

.selector-form {
    width: 60px;
}

/*--------MENU---------*/
.menu{
    position: fixed;
    padding-left: 0.5%;
}
.contenedor_menu {
    padding-top: 20px;  
/*    border-right: solid 2px #777777; */
}

.contenedor_menu .menu li{
    list-style: none;
    padding: 0 0 25px .5em;
    color: #777777;
}

.contenedor_menu .menu li a{
    padding-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #777777;
}

.contenedor_menu .iconos_menu :hover{
    color: #050DCA;
}
.menu-mobile{
    display: none;
}

/*--------------------BALANCE--------------------*/
.movimientos , .balance_contenido{
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(0, 166, 251, 0) 41.98%, rgba(42, 156, 238, 0.2) 100%);
    mix-blend-mode: normal;
    border-radius: 70px;
}

.balance{
    padding-left: 3em !important;
    padding-top: 3em;
}

.balance_contenido{
    width: 90% !important;
    padding-left: 2em;
}

.balance_item{
    color: #150578;
    padding-left: 3%;
}
h2.balance_item, h3.balance_item{
    display: inline-block;
}
.balance-fila-1 i{
    opacity: .6;
    font-size: 16px;
    float: right;
    margin-top: 15px;
}
a.balance_item{
    width: 65px;
    float: right;
    margin-top: 25px;
    text-decoration: none;
    background: rgba(5, 130, 202, 0.2);
    mix-blend-mode: normal;
    border-radius: 10px;
}
a.balance_item i{
    margin-left: 4px;
}
.balance h3 {
    font-size: 40px;
    line-height: 69px;
    color: #050DCA;
}

/*-----------------SECCION DE ACCESOS RAPIDOS-----------------------*/
.acceso-rapido{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3em;
    width: 90%;
}
.acceso-rapido .rapido {
    width: 9em;
}
.acceso-rapido .rapido img {
    width: 100%;
    height: 100%;
}

/*-----------------SECCION DE TARJETAS-----------------------*/
.h1 {
    font-size: 36px;
    line-height: 51px;
    color: #051923;
}

.tarjetas{
    width: 90%;
    margin: 8em 0 0 0 !important;
    height: 400px;
    text-align: center;
}

.tarjetas img{
    max-width: 440px;
    height: 15em;
    margin: 15px 0 0 15%;
}

.tarjetas h5{
    color: #0E0E52;
    font-size: 27px;
}

/* ------ Movimientos de mercado / ultimos movimientos*/

.contenedor_movimientos{
    padding-top: 75px;
}
.movimientos{
    padding-right: 3em;
    color: #150578;
    width: 80%;
}

.lista-movimientos{
    list-style: none;
}

.lista-movimientos-icono{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #E4E6F1;
    border-radius: 50%;
}
.lista-movimientos-info{
    display: inline-block;
    position: absolute;
    width: 13em;
    margin: .5% 0 0 50px;
}
.lista-movimientos-icono i{
    position: relative;
    top: 8px;
    left: 6px;
    font-size: 24px;
}
.movimiento{
    height: 60px;
    margin: 0 0 5% 5%;
}
.movimiento h6,.movimiento p,.movimiento h5{
    display: inline-block;
    margin-bottom: 0; 
}
.lista-movimientos-info h6{
    margin: 5px 65% 0 0;
}
.lista-movimientos-info p{
    font-weight: 100;
    font-size: 12px;
    opacity: .8;
    position: relative;
    bottom: 8px;
}
.lista-movimientos-info h5{
    position: relative;
    bottom: 14px;
    float: right;
    right: 10px;
}
.positivo{
    color: #005418;
}
.negativo{
    color: #540000;
}

/*--------MERCADO/mis inversiones-------*/
.mercado{
    height: 330px;
    width: 80%;
    margin: 30px 0 7em 0;
    background: linear-gradient(180deg, rgba(42, 156, 238, 0.2) 100%, rgba(68, 157, 209, 0) 30%);
    mix-blend-mode: normal;
    border-radius: 70px;
}

.mercado h4{
    padding: 1em 0 0 2em;
}

/* FOOTER */

footer{
    background: linear-gradient(95.71deg, rgba(68, 157, 209, 0.2) 75.57%, rgba(68, 157, 209, 0.3) 93.75%), linear-gradient(264.29deg, rgba(120, 192, 224, 0.2) 40.12%, rgba(120, 192, 224, 0.3) 58.3%);
    mix-blend-mode: normal;
    width:100%;
    height:54px;
    color: #0E0E52;
}
.pie{
    padding: 0 !important;
}
.pie p, .pie div{
    padding-top: 1.2%;
}
.pie p{
    display: inline-block; 
    font-weight: bold;
}
.pie-1{
    text-align: center;
}
.pie-2{
    padding-left: 4%;
}
.footer-buttoms{
    display: inline-block;
    padding-left: 13%;
}
.footer-buttoms button{
    border-radius: 15px;
    width: 120%;
    background-color: rgba(68, 157, 209, 0.3);
    border-style: none;
}
.historico-mobile{
    display: none;
}

/*Cotización del Dólar*/

.sec-dolar{
    text-align: center;
    padding-top: 2em;
    margin: 0 0 100px 10em !important;
}

.sec-dolar h3{
    font-size: 34px;
    color: #150578;
    font-weight: bold;
    padding-bottom: 1em;
}

#list-group{
    display: grid;
    grid-template-columns: repeat(3, 17em);
    grid-template-rows: repeat(3, 10em);
    justify-content: center;
    align-items: center;
    grid-gap: 4em;
}

#list-group .list-group-item{
    padding: 10px;
    margin-left: 1em;
    height: 100%;
    background: linear-gradient(180deg, rgba(42, 156, 238, 0.2) 100%, rgba(68, 157, 209, 0) 30%);
    mix-blend-mode: normal;
    border-radius: 20px;
    transition: all .3s;
}

#list-group .list-group-item:hover{
    transform: scale(1.2);
    transition: all .3s;
}

#list-group .list-group-item h4{
    background: #0E0E52;
    color: #fff;
    border-radius: 7px;
}

.div-compra-venta{
    display: flex;
    justify-content: space-between;
}

.div-compra-venta h6{
    font-size: 16px;
    padding: 1em 1em 0 1em;
}

.div-precios-dolar{
    display: flex;
    justify-content: space-between;
}

.div-precios-dolar p{
    padding-right: .5em;
    font-size: 1.5em;
    color: #0E0E52;
}

/*Responsive Tablet*/

@media screen and (min-width: 769px) and (max-width: 1100px){
/*----nav----*/
    .principal{
        justify-content: space-around;
    }
    .bienvenida{
        padding-top: 1.5em;
        margin-top: 1em !important;
        padding-left: 0 !important;
    }
    .buscar input{
        width: 150px;
    }
    .barra_iconos{
        justify-content: flex-start;
        width: auto !important;
        padding: 0 !important;
    }
    .iconos .iconos_nav {
        padding-right: 5px;
    }

/*---balance---*/
    .balance{
        margin-left: 6em;
        width: 80%;
    }

    .balance{
        width: 60% !important;
    }
/*---movimientos---*/
    .sec-movimientos{
        max-width: 30% !important;
        margin-left: 20em !important;
    }
    .movimientos{
        padding-right: 0;
        width: 100%;
        background: #FFFFFF;
    }
    .movimientos h4{
        padding-left: 0;
    }
    .lista-movimientos{
        padding-left: 0;
    }
    .lista-movimientos-info h5{
        right: 0px;
    }

/*---mis inversiones---*/
    .mercado{
        width: 20em !important;
    }

/*--footer--*/
    .footer-buttoms{
        padding-left: 0;
    }
}

/*---RESPONSIVE MOBILE---*/

@media (max-width: 768px) {
/*---principal----*/
    .principal{
        color: #FFFFFF;
        height: 7em;
        background: rgba(5, 13, 202, 0.75);
        clip-path: ellipse(61% 92% at 49% 0%);
    }
    .contenido{
        width: 100%;
        padding: 0 !important;
    }
/*---nav---*/
    .bienvenida-mobile{
        display: inline;
        text-align: left;
        margin-left: 0;
        padding-left: 1em !important;
        font-size: 21px; 
    }
    .selector-form {
        display: none;
    }
    .iconos{
        display: flex;
        justify-content: space-evenly;
        width: 35% !important;
    }
    .iconos i {
        float: right;
        color: white;
    }
    .barra_iconos{
        display: flex;
        justify-content: space-between;
        margin-top: 32px !important;
        width: 100% !important;
        padding: 0 1em 0 1em !important;
    }
    .iconos_nav{
        color: #0E0E52;
    }
    .buscar-mobile{
        display: inline-block;
        padding-top: 2em;
        width: 90%;
        padding: 2em 3% 0 15% !important;
        margin: 0 !important;
    }
    .buscar-mobile input{
        width: 85%;
        padding: 0 20px 0 35px;
        font-size: 18px;
        color: #000;
        background-color: #0035541A;
        outline: none;
        border-radius: 30px;
    }
    .lupita{
        width: 5em;
        height: 1.8em;
        color: #051923;
        border: none;
    }
    .buscar, .bandera, .contenedor_menu, .logo-container, .bienvenida, .balance_contenido img, footer, .historico{
        display: none;
    }

/*----balance---*/
    .movimientos , .balance_contenido{
        border-radius: 30px;
    }
    .balance-fila-1, .balance-fila-2{
        height: 50%;
        width: 90%;
    }
    h2.balance_item{
        display: inline-block;
        margin-left: -50%;
        margin-top: 20px;
    }
    h3.balance_item{
        display: inline-block;
        margin-left: -20%;
        font-size: 30px;
    }
    .balance-fila-1 i{
        margin-top: 30px;
    }
    .balance{
        margin-left: 0;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
        align-items: center !important;
        margin: 0;
        width: 100% !important;
    }
    .balance_contenido{
        padding:0 !important;
        padding-bottom: 0 !important;
        width: 100%;
        align-content: center;
        background: #449DD11A;
        overflow-x: visible;
    }
    .balance_item{
        padding-left: 0;
    }

    .tarjetas{
        background: #FFFFFF;
        width: 100%;
        padding-left: 0;
        margin-top: 3em;
        height: auto;
    }

    .tarjetas img{
        width: 20em;
        height: 11em;
        padding-left: 0;
        margin: 0;
    }

    .sec-movimientos{
        width: 100% !important;
        padding-left: 10em !important;
    }

    .movimientos{
        height: 500px;
        width: 100%;
        padding-right: 0;
        background: #FFFFFF;
        margin: 0 !important;
    }
    .movimientos h4{
        padding: 0;
        text-align: center;
        margin-bottom: 8%;
        width: 225px;
    }
    .movimientos li{
        width: 500px;
        margin: 0;
    }
    .lista-movimientos{
        padding: 0;
        margin: 0 !important;
        width: 100% !important;
    }

    .mercado{
        width: 300px;
    }

    .menu-mobile{
        height: 75px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #050DCABF 75%;
    }

    .menu-mobile a{
        color: #FFFFFF;
        font-size: 27px;
    }
    .acceso-rapido .rapido img {
        width: 90%;
        height: 90%;

    }
    .acceso-rapido{
        padding-left: 25px;
    }
}

/*Responsive Mobile*/
@media (max-width: 577px) {


    .balance-fila-1, .balance-fila-2{
        height: 50%;
        width: 90%;
    }
    h2.balance_item{
        display: inline-block;
        margin-left: -50%;
        margin-top: 20px;
    }
    h3.balance_item{
        display: inline-block;
        margin-left: -20%;
        font-size: 30px;
    }
    .balance-fila-1 i{
        margin-top: 30px;
    }
    .buscar-mobile input{
        width: 85%;
        padding: 0 20px 0 35px;
        font-size: 18px;
        color: #000;
        background-color: #0035541A;
        outline: none;
        border-radius: 30px;
    }
    .balance{
        margin-left: 0;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
        align-items: center !important;
        margin-left: 2% !important;
        margin-right: 1% !important;
    }

    .balance_contenido{
        padding:0 !important;
        padding-bottom: 0 !important;
        width: 100%;
        align-content: center;
        background: #449DD11A;
        overflow-x: visible;
    }

    .balance_item{
        padding-left: 0;
    }
    .primera-sec{
        width: 100%;
    }
    .tarjetas{
        background: #FFFFFF;
        width: 100%;
        padding-left: 0;
        margin-top: 3em;
        height: auto;
    }

    .tarjetas img{
        width: 15em;
        height: 9em;
        padding-left: 0;
        margin: 0;
    }

    .sec-movimientos{
        margin-left: 20%;
    }

    .movimientos{
        height: 550px;
        width: 100%;
        padding-right: 0;
        background: #FFFFFF;
        margin: 0 !important;
    }
    .movimientos h4{
        padding: 0;
        text-align: center;
        margin-bottom: 8%;
        width: 225px;
    }
    .movimientos li{
        width: 300px;
        margin-left: 20%;
    }
    .lista-movimientos{
        padding: 0;
    }

    .mercado{
        width: 300px;
    }

    .menu-mobile{
        height: 75px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #050DCABF 75%;
    }

    .menu-mobile a{
        color: #FFFFFF;
        font-size: 27px;
    }

    .acceso-rapido .rapido img {
        width: 90%;
    
        height: 90%;
    }
    .acceso-rapido{
        padding-left: 5px;
    }
}