*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
html, body{
    height: 100%;
}
main {
    height: auto;
    min-height: 483px;
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(5, 13, 202, 0) 0%, rgba(5, 13, 202, 0.05) 53.96%, rgba(120, 192, 224, 0.2) 100%);
}

/*HEADER*/
header{
    width: 100%;
    height: 190px;
    background: rgba(5, 13, 202, 0.75);
    text-align: center;
   
}

h1, h3{
    color: white;
    padding-top: 15px;
    font-size: 350%;
}
h1 {
    padding-top: 50px;
}
h3{
    padding-top: 30px;
    font-size: 150%;
}
header i{
    left: 0px;
    padding-left: 20px;
    position: absolute;
    color:white;
    top: 25px;
    font-size: 20px;


}
header h4{
    padding-left: 50px;
    position: absolute;
    color:white;
    top: 25px;
    font-size: 20px;

}

/*INGRESOS*/
.ingresos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 300px;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
}
.form input{
    width: 260px;
    height: 100%;
    background: transparent;
    border: 2px solid grey;
    border-radius: 10px;
    outline: none;
    padding: 0 19px;
    font-size: 18px;
    top: -9px;
    background-color: white;
}
.form label{
    position: absolute;
    top: -9px;
    left: 15px;
    color: grey;
    text-transform: capitalize;
    font-size: 15px;
    transition: top .3s;
    padding: 0 5px;
    background-color: white;
    
}
#btn-agregar{
    padding: 0;
    width: 180px;
    height: 42px;
    background: rgba(5, 13, 202, 0.1);
    
    font-weight: 700;
    font-size: 21px;
    line-height: 46px;
    color: #0E0E52;
    border: none;
    border-radius: 70px;
}

/*EGRESOS*/

.egresos {
    display: flex;
    justify-content: center;
}

ul{
    margin-top: 20px;
    display: inline-block;
    width: 300px;
    list-style: none;
}
li{
    margin-top: 4%;
    padding-left: 1%;
    border: solid 1px black;
    height: 35px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 10px;
}
li i{
    float: right;
    position: relative;
    right: 15px;
}
li i:hover{
    cursor: pointer;
}
.resultado{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.resultado h4{
    width: 300px;
    color: black;
    margin-bottom: 2%;
}
.fa-xmark:hover{
    color: red;
}

/* FOOTER */

footer{
    background: linear-gradient(95.71deg, rgba(68, 157, 209, 0.2) 75.57%, rgba(68, 157, 209, 0.3) 93.75%), linear-gradient(264.29deg, rgba(120, 192, 224, 0.2) 40.12%, rgba(120, 192, 224, 0.3) 58.3%);
    mix-blend-mode: normal;
    width:100%;
    height:54px;
    position: absolute;
}
.pie{
    padding: 0 !important;
    margin-left: 50px;
}
.pie p, .pie div{
    padding-top: 1.2%;
}
.pie p{
    display: inline-block; 
    font-weight: bold;
    color: #0E0E52;
}
.pie-1{
    text-align: center;
}
.pie-2{
    padding-left: 4%;
}

.atajos{
    display: none;
}
.historico-mobile{
    display: none;
}
